@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#754ef9;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,.2);

}

.dark-mode{
    --bg-color:#0b061f;
    --text-color:#fdfdfd;
    
    --shadow-color:rgba(0,0,0,.7);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    
    background: var(--bg-color);
    color:var(--text-color);
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:2rem 7%;
    background:transparent;
    display:flex;
    align-items: center;
    z-index: 100%;
    transition: .5s;
}

.header.sticky{
    position: fixed;
    z-index: 50;
    background: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color)
}

.logo{
    font-size:2.5rem;
    color:var(--main-color);
    font-weight: 600;
    cursor:default;
    margin-right: auto;
}

.navbar a{
    position:relative;
    font-size: 2rem;
   color:gray;
    font-weight: 500;
    margin-right: 3.5rem;
}

.header .sticky .navbar a{
    color:black
}

.navbar a.active::before{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    width:100%;
    height:.2rem;
    background: var(--white-color);
    color:var(--main-color)
}
#darkMode-icon{
    font-size: 2.4rem;
    color:var(--white-color);
    cursor:pointer;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home{
    
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width:44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
}

.home-content p{
    font-size:1.6rem;
    font-weight: 500;
}

.home-content .socialmedia a{
    display:inline-flex;
    justify-content: center;
    align-items:center;
    width:4rem;
    height:4rem;
    background:transparent;
    border:.2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color:var(--main-color);
    margin:2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .socialmedia a:hover{
    background: var(--main-color);
    color:var(--white-color);
}

.btn{
    display:inline-block;
    padding:1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 0.6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top:50%;
    background:transparent;
    right:0;
    transform: translateY(-50%);
   
    width:840px;
    height: 840px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}
.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 840px;
    height: 840px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
    0%,20%{
        transform: rotate(0deg);
    }
    25%,45%{
        transform: rotate(-90deg);
    }
    50%,70%{
        transform: rotate(-180deg);
    }
    75%,95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }

}

.home .profession-box .profession{
    position: absolute;
    display: flex;
    left:0;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    transform: rotate(calc(360deg/4*var(--i)));
    transform-origin: 420px;
    background: var(--main-color);
}

.home .profession-box .profession:nth-child(1) i{
    margin-right: 15px;
}
.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
    padding-bottom: 20px;
}
.home .profession i{
    font-size:3.8 rem;
}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
    background-color: transparent;
    
}

.home .profession-box .circle{
    width:500px;
    height:500px;
    
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 420px solid var(--main-color);
    border-right: 420px solid var(--main-color);
    border-bottom: 420px solid var(--main-color);
    border-left: 420px solid transparent;

}

.home-img{
    border-radius: 50%;
}
/*
.home-img img{
    left:0;
    bottom: 0;
    right: 70%;
    width: 50%;
    height: 50%;
    pointer-events: none;
    border-radius: 50%;
}
*/
.home-img img{
    vertical-align: middle;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-bottom: 30px;
  
}

span{
    color:var(--main-color);
}
.about{
   
    display:flex;
    justify-content: center;
    align-items:center;
    gap:4rem;
}
.about-img img{
    margin-top: 50px;
    width: 40vw;
    height: 50vh;
    border-radius: 90%;
  

}



.q {
    background-color: var(--main-color);
    border-radius: 90%;
    color: white; /* Change text color to white for better visibility */
    padding: 10px; /* Add padding to create space inside the box */
    border-radius: 5px; /* Add rounded corners to the box */
    margin-bottom: 10px; /* Add margin to separate each box */
}



.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
    
}

.about-content h3 {
    font-size: 24px;
    color: white;
    margin-top: 30px;
}

.about-content p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.about-content .heading {
    font-weight: bold;
}




.services{
    min-height: auto;
    padding-bottom: 7rem;
}

.services h2{
    margin-bottom: 5rem;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex:1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    margin-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease ;
}

.services-box:hover h3{
    color:var(--main-color)
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    padding-bottom: 10rem;;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,-1);
    overflow: hidden;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,-1),var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition:.5s ease

}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}
.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 4rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 3rem;
    color: #333;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius:.8rem ;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;

}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top:2rem;
    cursor: pointer;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.chatbot-toogler{
    position:fixed;
    right:40px;
    bottom:35px;
    height:50px;
    width:50px;
    color:#fff;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #724ae8;
    border-radius: 50%;
}
.chatbot-toogler span{
    position: absolute;
}
.show-chatbot .chatbot-toogler span:last-child,
.chatbot-toogler span:last-child{
    opacity: 0;
}

.show-chatbot .chatbot-toogler span:last-child{
    opacity: 1;
}
.chatbot{
    position: fixed;
    right:40px;
    bottom:100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    width:420px;
    background: #fff;
    border-radius: 15px;
    box-shadow:0 0 128px 0rgba(0,0,0,0.1),
                0 32px 64 px -48px rgba(0,0,0,0.5);
}

.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header{
    background: #724ae8;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2{
    color:#fff;
    font-size: 1.4rem;
}
.chatbot header span{
    position: absolute;
    right: 20px;
    top: 50%;
    color:#fff;
    cursor:pointer;
    transform: translateY(-50%);
}
.chatbot .chatbox{
    height:510px;
    overflow-y: auto;
    padding:15px 20px 70px;
}

.chatbox .chat{
    display:flex;
}

.chatbox  .incoming span{
    height:32px;
    width:32px;
    color:#fff;
    align-self: flex-end;
    background: #724ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin:0 10px 7px 0;
}

.chatbox  .outgoing{
    margin:20px 0;
    justify-content: flex-end;
}

.chatbox .chat p{
    padding:12px 16px;
    color:#fff;
    white-space: pre-wrap;
    max-width: 75%;
    font-size: 0.95rem;
    border-radius: 10px;
    background: #724ae8;
}

.chatbox .incoming p{
    color:#000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;

}

.chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap:5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea{
    height:55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid~span{
    visibility: visible;
}


